
@{
    ViewBag.Title = "Guide to use application";


}
    <head>
        <h2>Guide to use application</h2>
        <h3> Step by step to use this application </h3>
        <style type="text/css">
            .p{
                color:red        
            }
        </style>
    </head>
    <body>
        <h3>
        <p>Giao diện chính để làm việc</p>
        <img src="~/Image/Screenshot (557).png" width="1200" /> <br />
        <p>Nhấn vào thẻ Employee nếu muốn truy cập thông tin cụ thể của từng nhân viên</p><br />
        <img src="~/Image/Screenshot (557)_LI.jpg" width="1200" /><br />
        <p>Nhấn vào thẻ Degree nếu muốn truy cập thông tin bằng cấp nhân viên</p><br />
        <img src="~/Image/Screenshot (558)_LI.jpg" width="1200" /><br />
        <p>Nhấn vào thẻ Institution để xem phòng ban nhân viên làm việc</p><br />
        <img src="~/Image/Screenshot (559)_LI.jpg" width="1200" /><br />
        <p>Muốn tìm kiếm nhân,vui lòng chọn trường tìm kiếm ở tickbox,điền vào textbox và ấn seacrh,tương tự với chức năng khác</p><br />
        <img src="~/Image/Screenshot (563)_LI.jpg" width="1200" /><br />
        <p>Nhấn vào Edit để chỉnh sửa thông tin </p><br />
        <img src="~/Image/Screenshot (560)_LI.jpg" width="1200" /><br />
        <p>Giao diện chỉnh sửa,sau khi chỉnh sửa vui lòng ấn save</p><br />
        <img src="~/Image/Screenshot (562).png" width="1200" /><br />
        <p>Nhấn vảo Detail để xem thông tin cụ thể của nhân viên</p><br />
        <img src="~/Image/Screenshot (561)_LI.jpg" width="1200" /><br />
        <p>Giao diện xem thông tin cụ thể</p><br />
        <img src="~/Image/Screenshot (563).png" width="1200" /><br />
        <p>Nhấn vào Delete để xóa nhân viên</p><br />
        <img src="~/Image/Screenshot (562)_LI.jpg" width="1200" /><br />
        <p>Sau đó nhấn Delete để xác nhận</p><br />
        <img src="~/Image/Screenshot (564).png" width="1200" /><br />
        </h3>

    </body>