@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Employee Management Application</h1>
        <p class="lead">This is a free web for manage your employee .</p>
        <p>@Html.ActionLink("Guide to use", "Guide", "Home")</p>
    </div>

<div class="row">
    
</div>