
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
</body>
<form action="~/Login/Login" method="post">

    <h1>Login</h1>
    
    <input placeholder="Username" type="text" name="Usernametext" required="">

    <input placeholder="Password" type="password" name="Passwordtext" required="">

    <input type="submit" value="Login">
   
</form>
</html>
