
@{
    Layout = null;
}

<!DOCTYPE >

<head>
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
    </head>
</head>
<form>
    <h1>Login</h1>
    <input placeholder="Username" type="text" required="">
    <input placeholder="Password" type="password" required="">
    <button>@Html.ActionLink("Submit","Index","Home")</button>
</form>

