
@{
    ViewBag.Title = "Guide to use application";


}
    <head>
        <h1>Guide to use application</h1>
        <h3> Step by step to use this application </h3>
       
    </head>
    <body>
        <h3>
            <p>Giao diện chính để làm việc</p>
            <img src="~/Image/Screenshot (602).png" width="1200" /> <br />
            <p>Nhấn vào thẻ Categories nếu muốn truy cập vào các mục quản lý</p><br />
            <img src="~/Image/Screenshot (603)_LI.jpg" width="1200" /><br />
            <p>Nhấn vào thẻ Employee nếu muốn truy cập thông tin cụ thể của từng nhân viên</p><br />
            <img src="~/Image/Screenshot (603).png" width="1200" /><br />
            <p>Nhấn vào thẻ Degree nếu muốn truy cập thông tin bằng cấp nhân viên</p><br />
            <img src="~/Image/Screenshot (603)_LI.jpg" width="1200" /><br />
            <p>Nhấn vào thẻ Institution để xem phòng ban nhân viên làm việc</p><br />
            <img src="~/Image/Screenshot (603)_LI.jpg" width="1200" /><br />
            <p>Muốn tìm kiếm nhân,vui lòng chọn trường tìm kiếm ở select box,điền vào textbox và ấn seacrh</p><br />
            <img src="~/Image/Screenshot (604)_LI.jpg" width="1200" /><br />
            <p>Nhấn vào Edit để chỉnh sửa thông tin </p><br />
            <img src="~/Image/Screenshot (609)_LI.jpg" width="1200" /><br />
            <p>Giao diện chỉnh sửa,sau khi chỉnh sửa vui lòng ấn save</p><br />
            <img src="~/Image/Screenshot (605).png" width="1200" /><br />
            <p>Nhấn vảo Detail để xem thông tin cụ thể của nhân viên</p><br />
            <img src="~/Image/Screenshot (609)_LI.jpg" width="1200" /><br />
            <p>Giao diện xem thông tin cụ thể,sau khi xem ấn back to list để quay về</p><br />
            <img src="~/Image/Screenshot (606).png" width="1200" /><br />
            <p>Nhấn vào Delete để xóa nhân viên</p><br />
            <img src="~/Image/Screenshot (609)_LI.jpg" width="1200" /><br />
            <p>Sau đó nhấn Delete để xác nhận</p><br />
            <img src="~/Image/Screenshot (607).png" width="1200" /><br />
            <p>Nhấn vào tên mỗi cột để sắp xếp cột theo thứ tự</p><br />
            <img src="~/Image/Screenshot (608)_LI.jpg" width="1200" /><br />
            <p>Ấn vào thanh Administrator để chọn logout hoặc xem thông tin contact ở profile</p><br />
            <img src="~/Image/Screenshot (610)_LI.jpg" width="1200" /><br />

        </h3>

    </body>