@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management Appication</h1>
    <p class="lead">This is the website for manage employee of enterprise</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Guide to use &raquo;</a></p>
</div>

<div class="row">
    
</div>